name: Build and Release ARM64 Binary

# on:
#   push:
#     tags:
#       - 'v*'

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to release (must be prefixed with 'v')"
        required: true
        
jobs:
  build:
    name: Build ARM64 Binary
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.16'

      - name: Extract Version
        id: extract_version
        run: |
          # VERSION="${{ github.ref_name }}"
          # VERSION=${VERSION%-arm64}
          # echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV

      - name: Build ARM64 Binary
        run: |
          CGO_ENABLED=0 GOARCH=arm64 GOOS=linux go build -o terraform-provider-aws_v${{ env.VERSION }}_linux_arm64

      - name: Upload Binary as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: terraform-provider-aws_v${{ env.VERSION }}_linux_arm64
          path: terraform-provider-aws_v${{ env.VERSION }}_linux_arm64

  release:
    name: Create GitHub Release
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download Binary
        uses: actions/download-artifact@v3
        with:
          name: terraform-provider-aws_v${{ env.VERSION }}_linux_arm64

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: terraform-provider-aws_v${{ env.VERSION }}_linux_arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
